@{
    ViewBag.Title = "Wellness Personal";
}
@section Scripts
{
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="~/lib/Chart-js/Chart.min.js"></script>
    <script src="~/lib/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-self.js"></script>
    <script src="~/js/selfController.js"></script>
    <script src="~/js/selfEditorController.js"></script>
    <script src="~/js/selfMetricController.js"></script>
    <script src="~/js/site.js"></script>
}
<div class="row" ng-app="app-self">
    <div ng-view></div>
</div>